services:
  db:
    image: postgres:15-alpine
    container_name: yoyaku-crm-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: yoyaku_crm
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
